/* Starter CSS */
* {
	box-sizing:border-box;
	/* because it’s 2019,jen simmons */
	padding:0;
	margin:0;
}
html {
	color:#322D2F;
	font-size:1em;
	line-height:1.4;
	font-family:'Muli',sans-serif;
	scroll-behavior:smooth;
	text-rendering:optimizeLegibility;
}
body {
	margin:0;
	background-color:#F7F2F4
}

/* HOME PAGE */
.hero {
	background-image:url('../img/slo.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
	min-height:100vh;
	display:grid;
	grid-template-columns:repeat(3,1fr);
	gap:20px;
}
.herotext {
	grid-column:2;
	margin:4rem 2rem 2rem 2rem;
}
.herotext h1 {
	text-transform:uppercase;
	font-weight:300;
	font-size:3rem;
	text-align:left;
	letter-spacing:3px;
	color:#F7F2F4;
}
.buttonhome {
	grid-column:2;
	display:flex;
	flex-direction:column;
	font-size:1.2rem;
	font-weight:400;
	text-align:center;
	letter-spacing:2px;
	margin-top:0rem;
	margin-bottom:4rem;
	text-transform:uppercase;
	transition:all 0.3s ease;
}
.buttonhome a {
	color:rgba(247,242,244,1);
	background:rgba(138,91,115,0.8);
	text-decoration:none;
	border:1px solid rgba(138,91,115,1);
	padding:10px;
}
.flex-container {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
/* SHUTTER OUT NAV BUTTONS HOME PAGE */
.shut {
	vertical-align:middle;
	-webkit-transform:perspective(1px) translateZ(0);
	transform:perspective(1px) translateZ(0);
	box-shadow:0 0 1px rgba(0,0,0,0);
	position:relative;
	-webkit-transition-property:color;
	transition-property:color;
	-webkit-transition-duration:0.3s;
	transition-duration:0.3s;
}
.shut:before {
	content:"";
	position:absolute;
	z-index:-1;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:#B88299;
	-webkit-transform:scaleX(0);
	transform:scaleX(0);
	-webkit-transform-origin:50%;
	transform-origin:50%;
	-webkit-transition-property:transform;
	transition-property:transform;
	-webkit-transition-duration:0.3s;
	transition-duration:0.3s;
	-webkit-transition-timing-function:ease-out;
	transition-timing-function:ease-out;
}
.shut:hover,.shut:focus,.shut:active {
	color:white;
}
.shut:hover:before,.shut:focus:before,.shut:active:before {
	-webkit-transform:scaleX(1);
	transform: scaleX(1);
}
/* end SHUTTER OUT */

/* NAV BUTTONS */
.button {
	display:flex;
	flex-direction:column;
	width:100%;
	font-size:1.2rem;
	font-weight:400;
	text-align:center;
	letter-spacing:2px;
	margin-top:2rem;
	margin-bottom:4rem;
	text-transform:uppercase;
	transition:all 0.3s ease;
}
.button a {
	color:rgba(138,91,115,1);
	text-decoration:none;
	padding:10px;
}
.button a:hover {
	color: #B88299;
}
/* LOGO */
.logo img {
	margin-top:20px;
	max-height:120px;
}
@media only screen and (min-width:35em) {
	.button {
		flex-direction:row;
		justify-content:space-around;
	}
}
@media only screen and (min-width:55em) {
	.flex-container {
		flex-direction:row;
	}
	.button {
		justify-content:flex-end;
		margin-right:2rem;
	}
	.button a {
		margin:1rem;
	}
	.logo {
		margin-left:20px;
		padding-bottom:45px;
	}
}
@media only screen and (min-width:60em) {
	.logo {
		margin-left:5rem;
	}
	.button {
		margin-right:5rem;
	}
}
@media only screen and (min-width:85em) {
	.logo {
		margin-left:10rem;
	}
	.button {
		margin-right:10rem;
	}
}
@media only screen and (min-width:100em) {
	.logo {
		margin-left:1rem;
	}
	.button {
		margin-right: 15rem;
	}
}

/* HOBBIES PAGE */
.card img {
	display:block;
	max-width:100%;
}
.cards {
	display:flex;
	flex-direction:row;
	justify-content:center;
	flex-wrap:wrap;
	margin-bottom:2rem;
}
.card {
	background-color:#F7F2F4;
	display:flex;
	flex-direction:column;
	align-items:center;
	margin:25px;
	min-width:250px;
	max-width:350px;
	border-radius:0.5rem;
	border:1px solid #6E696B;
	box-shadow:0 2px 5px rgba(110,105,107,0.1);
	position:relative;
	top:0;
}
.card:hover {
	transition:all 0.8s ease-in;
	top:-10px;
	box-shadow:0 4px 5px rgba(110,105,107,0.2);
}
.cardphoto {
	max-height:250px;
	overflow:hidden;
	border-radius:0.5rem;
}
.cardarticle {
	padding:2.5rem;
	flex:1;
}
.cardH2 {
	font-size:1.7rem;
	margin:0;
	color:#8A5B73;
	font-weight: 600;
}
.card p {
	font-size:1rem;
	line-height: 1.5;
}

/* TITLES ACROSS ALL PAGES*/
.title {
	font-size:3rem;
	margin-right:1em;
	margin-left:1em;
	margin-bottom:0.2em;
	color:#8A5B73;
	text-align:center;
	padding-bottom:2rem;
}
@media only screen and (min-width:500px) {
	.title {
		font-size:4rem;
	}
}
@media only screen and (min-width:1000px) {
	.title {
		font-size:5rem;
	}
}

/* TV GUIDE PAGE */
.columns {
	display:grid;
	grid-gap:1em;
	margin:0 auto;
	padding:1rem;
}
.columns img {
	width:100%;
	object-fit:cover;
}
.columns article {
	padding:1rem;
}
.columns h2 {
	font-size:2rem;
	color:#8A5B73;
	font-weight:600;
}
.columns article>p {
	font-size:1.1rem;
	line-height:1.3;
}
@media (min-width:45em) {
	.columns {
		grid-template-columns:repeat(2,1fr);
	}
	.image.two {
		grid-column:2;
		grid-row:2;
	}
	.image.four {
		grid-column:2;
		grid-row:4;
	}
}
@media (min-width:80em) {
	.columns {
		grid-template-columns:repeat(4,1fr);
	}
	.image.two {
		grid-column:2;
		grid-row:1;
	}
	.image.three {
		grid-column:3;
		grid-row:1;
	}
	.image.four {
		grid-column:4;
		grid-row: 1;
	}
}

/* COOKING PAGE W LIGHTBOX */
.photo-grid img {
	width:100%;
	height:100%;
	object-fit:cover;
}
.photo-grid {
	padding:1rem;
	display:grid;
	gap:1rem;
	grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
}
@media screen and (min-width:49em) {
	.item-3 {
		grid-row:span 1;
	}
	.photo-grid {
		grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
	}
}
@media screen and (min-width:950px) {
	.photo-grid {
		padding:3rem;
	}
}
@media screen and (min-width:1320px) {
	.photo-grid {
		grid-template-columns:repeat(3,1fr);
		padding-left:5rem;
		padding-right:5rem;
		margin: auto;
	}
}
.photo-grid {
	grid-auto-flow: dense;
}

/* VIEWS: PARALLAX SCROLLING PAGE */
.wrapper img {
	max-width:100%;
}
.headerbox {
	height:50vh;
	position:relative;
	background-image:url('../img/sunset1.jpg');
	background-size:cover;
	background-position:top center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	overflow:hidden;
}
.scrolltitle {
	height:280px;
	width:100%;
	text-align:center;
	position:absolute;
	top:80%;
	margin-top:-150px;
}
.scrolltitle h1 {
	color:#F7F2F4;
	font-size:10vw;
	font-weight:300;
}
.transparent {
	height:10em;
	width:100%;
	position:absolute;
	top:5%;
	margin-top:5em;
}
.transparent h2 {
	font-size:12vw;
	font-weight:800;
	text-align:end;
	padding-right:30px;
	color:#F7F2F4;
}
.content {
	margin:0 auto;
	max-width:90ch;
	height:50vh;
	max-height:75vh;
	padding:2rem;
	color:#322D2F;
	font-size:2em;
}
.content2 {
	margin:0 auto;
	max-width:90ch;
	height:25vh;
	padding:2rem;
	color:#322D2F;
	font-size:2em;
}
.content article {
	padding-top:50px;
	max-width:600px;
	margin:0 auto;
	line-height:1.3;
	font-weight:300;
	font-size:1.75rem;
}
.content2 article {
	padding-top:30px;
	max-width:650px;
	margin:0 auto;
	line-height:1.3;
}
article h1 {
	font-size:2rem;
	color:#8A5B73;
	font-weight:600;
}
.second-image {
	position:relative;
	height:50vh;
	background-image:url('../img/sunset2.jpg');
	background-size:cover;
	background-position:top center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	overflow:hidden;
}
@media only screen and (min-width:600px) {
	.headerbox {
		height:70vh;
	}
	.second-image {
		height:70vh;
	}
	.scrolltitle {
		top:70%;
	}
	.transparent {
		top:10%;
	}
	.transparent h2 {
		font-size:12vw;
	}
	.scrolltitle h1 {
		font-size:10vw;
	}
	.content {
		height:40vh;
		padding:0rem;
	}
}
@media only screen and (min-width:1000px) {
	.headerbox {
		height:85vh;
	}
	.second-image {
		height:85vh;
	}
	.scrolltitle {
		top:60%;
	}
	.transparent {
		top:8%;
	}
	.transparent h2 {
		font-size:10vw;
		padding-right:60px;
	}
	.scrolltitle h1 {
		font-size:8vw;
	}
}
@media only screen and (min-width:1200px) {
	.headerbox {
		height:85vh;
	}
	.second-image {
		height:85vh;
	}
	.scrolltitle {
		top:58%;
	}
	.transparent {
		top:2%;
	}
}
@media only screen and (min-width:1400px) {
	.headerbox {
		height:85vh;
	}
	.second-image {
		height:85vh;
	}
	.scrolltitle {
		top:60%;
	}
	.transparent {
		top:5%;
	}
	.transparent h2 {
		font-size:8vw;
		padding-right:150px;
	}
	.scrolltitle h1 {
		font-size: 6vw;
	}
}
